#wraper{
    display:flex;
    flex-direction: column;
    gap:5px
}
#sbrn{
    color:white;
    background-color: royalblue;
    display: flex;
    border-radius: 10px;;
}
#navbar{
    display: flex;
}
#nav-list{
    display: flex;
    justify-content: space-between;

}
#about:hover{
    color:white;
}
#home:hover{
    color:seashell
}
#contact:hover{
    color:skyblue
}
#heroone{
    background-color:crimson;
    color:white;
    padding:10px;
    margin:5px;
    border-radius:5px;
}
#nxt{
    background-color: royalblue;
    border-radius: 10px;
    color:white;
    text-align: center;
    font-weight: 100;
}